body {
  margin: 0;
  font-family: Georgia1, Georgia, serif; 
  background: url('/images/bg.png') fixed;
}
img {
  border-style: none;
}
.header {
  margin-bottom: 10px;
}
.tabs {
  font-size: 14pt;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
  tr {
    height: 45px;

    td {
      text-align: center;
      background:  #e7e2d3;
      padding: 0px;
      height: 45px;
      a {
        color: #000;
	text-decoration: none;
      }
      &.active{
        background: #d9d3bf;
        a{
          color: #c2120f;
        }
      }
      &.hover{
        color: #000;
	background: #c0b899;
      }
    }
  }
}
.formtastic {
  list-style-type: none;
  &.user {
    background: url('/images/signuptab.png') no-repeat;
    width: 320px;
    height: 76px;
    display: block;
    position: relative;
    top: -9px;
    float: right;
    label {
      padding-right: 10px;
      text-align: right;
      display: inline-block;
      width: 120px;
      color: #e7e3d2;
    }
    input {
      background: #e7e2d3;
      border: 0;
      width: 160px;
      height: 15px;
      margin: 10px 5px 0;
    }
  }
}
.signup_link{
  display: block;
  float: right;
  clear: right;
  position: relative;
  top: -9px;
  padding-right: 20px;
  a {
    font-weight: bold;
    color: #4e0706;
    text-decoration: none;
  }
}
.logo {
  display: block;
  float: left;
}
.clearboth {
  clear: both;
}
.footer {
  background: #4e0706;
  padding: 0 0 40px;
  .tabs td{
    font-size: 11pt;
    background: #4e0706;
    a {
      color: #e7e3d2;
    }
  }
}
