.reports {
  font: Georgia;
  font-size: 18px;
  background: #e7e2d3;
  padding: 5px 20px 20px 20px;
  width: 920px;
  margin: 20px auto 40px;
  h2 {
    color: #c2120f;
  }
  line-height: 1.5em;
  li {
    margin-bottom: .5em;
  }
}