.learn_more {
  img {
    display: block;
    float: left;
    margin-right: 43px;
  }
  padding-top: 20px;
  .learn_more_blurb a {
    display: block;
    float: left;
    position: relative;
    top: 40px;
    background: url('/images/learnmoreheadline.png') no-repeat;
    margin-left: 10px;
    padding: 15px;
    height: 76px;
    width: 181px;
    letter-spacing: -1px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt;
  }
}
