.confirmations, .passwords, .unlocks, .sessions, .registrations {
  font: Georgia;
  font-size: 18px;
  background: #e7e2d3;
  padding: 5px 20px 20px 20px;
  width: 920px;
  margin: 20px auto 40px;
  line-height: 1.5em; }
  .confirmations h2, .passwords h2, .unlocks h2, .sessions h2, .registrations h2 {
    color: #c2120f; }
  .confirmations li, .passwords li, .unlocks li, .sessions li, .registrations li {
    margin-bottom: .5em; }

.registrations .formtastic {
  list-style-type: none; }
  .registrations .formtastic label {
    width: 200px;
    display: block; }
  .registrations .formtastic input[type="email"], .registrations .formtastic input[type="password"], .registrations .formtastic input[type="text"] {
    width: 300px; }
  .registrations .formtastic .inline-errors {
    margin-top: 2px;
    color: #C2120F; }
