.learn_more {
  padding: 25px 0; }
  .learn_more img {
    display: block;
    float: left;
    margin-right: 43px; }
  .learn_more .learn_more_blurb a {
    display: block;
    float: left;
    position: relative;
    top: 40px;
    background: url("/images/learnmoreheadline.png") no-repeat;
    margin-left: 10px;
    padding: 15px;
    height: 76px;
    width: 181px;
    letter-spacing: -1px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt; }
    .learn_more .learn_more_blurb a.hover {
      background: url("/images/learnmoreheadlinehov.png") no-repeat; }

.first_ticket {
  background: #e7e2d3;
  padding: 40px 0;
  color: #4e0706;
  font: Georgia;
  font-size: 20px; }

.title {
  margin: 10px 0;
  font-size: 30px;
  line-height: 1.1em; }

.why_join {
  padding-top: 80px;
  font: Georgia;
  font-size: 18px; }
  .why_join .text {
    padding: 0 90px 0 310px; }
  .why_join img {
    float: left; }
  .why_join .join_today {
    padding: 10px 0; }
    .why_join .join_today a {
      text-decoration: none;
      color: #000;
      font: Georgia;
      font-size: 30px;
      font-weight: bold; }

.ten_commandments, .contests {
  font: Georgia;
  font-size: 18px;
  background: #e7e2d3;
  padding: 5px 20px 20px 20px;
  width: 920px;
  margin: 20px auto 40px;
  line-height: 1.5em; }
  .ten_commandments h2, .contests h2 {
    color: #c2120f; }
  .ten_commandments li, .contests li {
    margin-bottom: .5em; }
