.learn_more {
  padding: 20px 0 10px; }
  .learn_more img {
    display: block;
    float: left;
    margin-right: 43px; }
  .learn_more .learn_more_blurb a {
    display: block;
    float: left;
    position: relative;
    top: 40px;
    background: url("/images/learnmoreheadline.png") no-repeat;
    margin-left: 10px;
    padding: 15px;
    height: 76px;
    width: 181px;
    letter-spacing: -1px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14pt; }
    .learn_more .learn_more_blurb a.hover {
      background: url("/images/learnmoreheadlinehov.png") no-repeat; }

.first_ticket {
  background: #e7e2d3;
  padding: 20px 0;
  color: #4e0706;
  font: Georgia;
  font-size: 20px; }
