.container_12.about_ntfm.generic_page
  %h1 What is NoTicketForMe.com?

  %p
    Almost everyone knows the feeling of after doing your shopping, eating at a
    restaurant, or just doing your daily errands, when you rush back to your car to
    find that your parking meter has expired and within minutes you have received a
    parking citation. HELLO! That was not $50-$80 you are planning to spend that day.
  %p
    Politicians say that parking fines are not designed to be a “revenue-generating
    source” but don’t hesitate to raise parking rates and fines in an attempt to close or
    reduce budget shortfalls and spend millions of dollars to make the collection of that
    income and “fine revenue” more efficient. Parking management companies promise
    cities billions of dollars to privatize parking meter collections and fines. Common
    sense says that no giant corporation is that benevolent, unless they’re making
    money (lots of money).
  %p
    We wanted to try and apply a little common sense to one part of your life. We
    always thought that the government was supposed to help people, not make them

    a target for generating income. Parking has almost become an “athletic event” with
    an “us against them” mentality. We want to have more of “us” than “them”.
  %p
    What we do is to always be on the lookout to help another member of NTFM if it
    looks like one of our members may get hit with a $50 parking fine. Putting 25 cents
    into a parking meter will not save the world but it might help someone save some
    money: and if you get a chance to win a little that also makes it even more exciting.
    The average person does not get a chance to “Stick it to The Man” very often and
    especially for only 25 cents. You can help as many people as you like or as few but
    helping even one person gives you an amazing feeling of power. That’s what we are
    trying to accomplish.

  %h1 How it works
  %p
    Once you join NTFM all members receive a brightly colored sticker to apply to the
    inside back window so other members can identify your vehicle. When a member
    parks their car, other NTFM members passing on the street can periodically check
    on your parking meter. If you’re close to the end of your parking meter time another
    member (An Advocate) can choose to add a quarter to help you (A Benefactor).
    Likely saving the member the cost of a parking ticket or simply speaking “A lot
    of money”. But why should you help another member? First, it’s fun, second, it’s
    REALLY fun, third you become part of the group and stand a real possibility of
    someone helping you, and fourth, a chance to win a little money.

    Every month the top “ Advocate” will receive $100, second highest will receive $75,
    third highest will receive $50. But for those of you who don’t spend your whole day
    “patrolling the streets” for parking meters you could still win also. If you have at
    least one confirmed “save” for the month you will be eligible to win one of three $50
    dollar prizes chosen at random