.container_12.contests.generic_page
  .title
    %strong
      Monthly & Annual Contests!
    %br
    If you are the "Advocate" with the most saves in the LA area any given month, you win
    %strong $100
    = ". Second prize is "
    %strong $75
    & third is 
    %strong $50.
  %p If you prefer not to "patrol the streets" you still have the opportunity to win each one of the same prizes. We also randomly choose users for each of the same prizes. Only ONE 'save' per month is needed to be entered. Each winner will be notified beginning of the following month, and you'll join our Wall of Fame!
  %p The BEST part is, at the end of each year the person with the most annual "saves" wins $1000! (Second prize $750, Third prize $500.) As with the monthly winners, any No-Ticketers who have helped out at least once monthly will also be entered in a random drawing to win the same prizes.

