.container.re_metering.generic_page
  %h1 What is the law?
  %p
    Regulations vary from state to state and city to city but, they all have one thing in
    common “re-metering”. Most jurisdictions that specifically outlaw re-metering are
    required by definition to allow “authorized” individuals to re-meter. Without The
    ability to authorize someone else to put money in a meter, the law would require
    that the only person that could put money in a meter would be the owner of the
    vehicle. Not your spouse, son, daughter, or anyone else with you. By becoming a
    member of
    = link_to "noticketforme.com", root_path
    , you specifically authorize all other members of
    NTFM the right to re-meter your vehicle if necessary.