.container_12.ten_commandments
  .title
    %strong
      10 Commandments of NoTicketForMe.com
    %br
    Here are our Top Ten rules for handling payments while you're at a NTFM meter. We want you to know your rights and ultimately help others at no cost (well... for only 25 &#162;)
  %ol
    %li  Remember: It's not worth a confrontation over 25&#162;
    %li Never harass, use profanity or attempt to block a parking officer from doing their job.
    %li If possible always insert money out of view of parking officers.
    %li If you avoid confrontation, then confrontation will most likely never happen
    %li  If asked, explain that you have been given permission by the owner of the vehicle to put money in the meter in the event that time is about to run out.
    %li Show the parking officer your membership number and explain that you are a member of a club that specifically grants the other members the right to put money in the meter for them.
    %li Show the parking officer the law stated on the back of your membership card.
    %li  Membership in NoTicketForMe.com is not a license to confront or harass parking officers.
    %li Membership allows better understanding and a coordinated effort to reduce the risk of its members receiving excessive parking tickets.
    %li If the parking officer tickets the members car even after you've inserted money note the membership number report it to the website and the other member will now have a witness to the specific situation if they feel the need to fight the ticket.
    